<div class="container">
    <div class="inch_box">
        <div class="incharge">
            <p> <span>Name of Lab : </span>{{lab_name}}</p>
            <p><span>Name of Lab Incharge : </span> {{inch_name}}</p>
            <p><span>Name of Lab Assistant : </span> {{ass_name}}</p>
            <p><span>Total Cost of Equipment : </span> {{equip}}</p>
            <p><span>Area sq.m. : </span> {{area}}</p>
        </div>
    </div>
    <div class="tab_box">
        <table border="1">
            <tr>
                <th>S.no.</th>
                <th>Equipment</th>
                <th>Qty.</th>
                <th>Cost in Rs.</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Computers</td>
                <td>{{QC}}</td>
                <td>{{CC}}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Printers</td>
                <td>{{QP}}</td>
                <td>{{CP}}</td>
            </tr>
            <tr>
                <td>3</td>
                <td>UPS</td>
                <td>{{QU}}</td>
                <td>{{CU}}</td>
            </tr>
        </table>
        </div>
    </div>