.container{
    /* border: 1px solid red; */
    margin-top: 5%;
}

.container .content{
    /* border: 1px solid blue; */
}

.container .content h1{
    text-align: center;
    font-size: 32px;
    color: #323232;
    padding-bottom: 10px;
}
/* 
.container .content .hod_img{
    border: 1px solid green;
} */

.container .content .hod_img .img_box{
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .content .hod_info p{
    font-size: 18px;
    
}

.heading{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

.heading h1{
    text-align: center;
    background-color:  rgb(50, 118, 214);
    width: 40%;
    padding: 5px;
    color: #fff;
  }
.container .content .hod_info .cont_box h4{
    font-size: 26px;
    color: grey; 
}

.container .content .hod_info .cont_box p{
    font-size: 18px;
    color: grey; 
    padding-left: 8%;
}

.container .content .hod_info .footer{
    /* border: 1px solid purple; */
}

.container .content .hod_info .footer p svg{
    padding-right: 5px;   
}