.navbar{
    /* border: 1px solid red; */
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 10px;
}
.navbar .menu{
    /* border: 1px solid blue; */
    background: rgb(50, 118, 214);
    width: 30%;
    margin-bottom: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.navbar .menu li{
   list-style: none;
   cursor: pointer;
   color: white;
}
