<div class="header">
    <div class="content">
        <div class="upper">
            <p>Matoshri Education Society's</p>
        </div>
        <div class="middle">
            <div class="mid_content">
                <img src="assets/images/logo.png" alt="Logo">
                <p>Matoshri College of Engineering & Research Centre, Eklahare, Nashik</p>
            </div>
        </div>
        <div class="lower">
            <p>Department Of Computer Engineering</p>
        </div>
    </div>
</div>