  <div class="gallary">
      <div class="heading">
          <h1>Image Gallery</h1>
      </div>
      <div class="gallery">
        <a target="_blank">
          <img src="../../../assets/images/labimg1.jpg" alt="Gateway of India">
          <div class="desc">Gateway of India</div>
        </a>
      </div>
      <div class="gallery">
        <a target="_blank">
          <img src="../../../assets/images/labimg2.jpg" alt="Taj Mahal,Agra">
          <div class="desc">Taj Mahal,Agra</div>
        </a>
      </div>
      <div class="gallery">
        <a target="_blank" >
          <img src="../../../assets/images/labimg3.jpg" alt="Red Forte,Delhi">
          <div class="desc">Red Forte,Delhi</div>
        </a>
      </div>
      <div class="gallery">
        <a target="_blank" >
          <img src="../../../assets/images/labimg4.jpg" alt="Varanasi,uttar pradesh">
          <div class="desc">Varanasi,uttar pradesh</div>
        </a>
      </div>
      <div class="gallery">
        <a target="_blank" >
          <img src="../../../assets/images/labimg5.jpg" alt="Mysore, Karnataka">
          <div class="desc">Mysore, Karnataka</div>
        </a>
      </div>
      <div class="gallery">
        <a target="_blank">
          <img src="../../../assets/images/labimg6.jpg" alt="Rishikesh, Uttarakhand">
          <div class="desc">Rishikesh, Uttarakhand</div>
        </a>
      </div>
      <div class="gallery">
        <a target="_blank">
          <img src="../../../assets/images/side1.jpg" alt="Amritsar-Golden-Temple">
          <div class="desc">Amritsar-Golden-Temple</div>
        </a>
      </div>
      
      <div class="gallery">
        <a target="_blank">
          <img src="../../../assets/images/side1.jpg">
          <div class="desc">Imphal, Manipur</div>
        </a>
      </div>
      <div class="gallery">
        <a target="_blank">
          <img src="../../../assets/images/side1.jpg">
          <div class="desc">Spiti Valley, Himachal Pradesh:  Beauty of the Cold Desert</div>
        </a>
      </div>
      
      <!-- <script src="js/main2.js"></script> -->
  </div>
