<div class="container">
    <div class="syllabus">
        <div class="heading">
            <h1>syllabus</h1>
        </div>
        <div class="table">
            <ul class="menu">
                <li class="ug">UG (BE)</li>
                <li><a href="https://engg.matoshri.edu.in/assets/pdf/science/syllabus/First%20Year%20Engineering%202019.pdf">First Year (FE)</a></li>
                <li><a href="https://engg.matoshri.edu.in/assets/pdf/computer/syllabus/2019/SPPU_SE_Computer_Engg_Curriculam_2020_June_30.pdf">Second Year (SE)</a></li>
                <li><a href="https://engg.matoshri.edu.in/assets/pdf/computer/syllabus/2019/TE_Computer_2019_Course_22.06.2021.pdf">Third Year (TE)</a></li>
                <li><a href="https://engg.matoshri.edu.in/assets/pdf/computer/syllabus/2019/BE%20Computer%20Engineering_Syllabus_2019%20Course.pdf">Fourth Year (BE)</a></li>
                <li><a href="https://engg.matoshri.edu.in/assets/pdf/computer/syllabus/others/Rules%20and%20Regulations%20F.E.%202019%20Patt_10.012020.pdf">Rules and Regulation For UG Programme</a></li>
            </ul>
        </div>
    </div>
</div>